*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    display: flex;
    justify-content: space-between;
    height: 100%
}
.box{
    padding:20px;
    background-color: greenyellow;
    border: 1px solid black;
}