*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.testimonials {
  display: flex;
  gap: 20px;
  margin: 100px;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid black;
  padding: 50px;
  text-align: center;
  width: 20%;
  height: 300px;
  border-radius: 10px;
  background-color: white;
}

.box img {
  width: 150px;
  border-radius: 50%;
  height: 150px;
}
